@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@font-face {
  font-family: Cyborg;
  src: url("/Cyborg.074aa61276a2a2f121a4.ttf") format("truetype");
  font-display: swap;
}
.font-cyborg {
  font-family: Cyborg;
}
@font-face {
  font-family: "Exo Space";
  src: url("/ExoSpace.606b1a1e5fed2c8afb24.ttf") format("truetype");
  font-display: swap;
}
.font-exo {
  font-family: "Exo Space";
}
